<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <br>
  <ion-button color="dark" expand="block">Valendo: </ion-button>

<div class="botao1">
    <ion-grid>
      <ion-row>
        <ion-col><ion-button  color="dark" fill="outline">1</ion-button></ion-col>
        <ion-col><ion-button  color="dark" fill="outline">3</ion-button></ion-col>
        <ion-col><ion-button  color="dark" fill="outline">6</ion-button></ion-col>
        <ion-col><ion-button  color="dark" fill="outline">9</ion-button></ion-col>
        <ion-col><ion-button  color="dark" fill="outline">12</ion-button></ion-col>
      </ion-row>
    </ion-grid>
</div>

<div class="botao2">
    <ion-grid>
      <ion-row>
        <ion-col size="6" size-md="4" size-lg="2">Time 1</ion-col>
        <ion-col size="6" size-md="4" size-lg="2">Time 2</ion-col>
        <ion-col size="6" size-md="4" size-lg="2"><ion-button color="dark">+</ion-button></ion-col>
        <ion-col size="6" size-md="4" size-lg="2"><ion-button color="dark">+</ion-button></ion-col>
        <ion-col size="6" size-md="4" size-lg="2"><ion-button color="dark" fill="outline">0</ion-button></ion-col>
        <ion-col size="6" size-md="4" size-lg="2"><ion-button color="dark" fill="outline">0</ion-button></ion-col>
        <ion-col size="6" size-md="4" size-lg="2"><ion-button color="dark">-</ion-button></ion-col>
        <ion-col size="6" size-md="4" size-lg="2"><ion-button color="dark">-</ion-button></ion-col>
      </ion-row>
    </ion-grid>
</div>

<br>
<br>
<ion-chip color = "dark">PARTIDAS</ion-chip>
    <ion-card>
      <ion-card-content>
      <p>Time 1:</p>
      <br>
      <p>Time 2:</p>
      </ion-card-content>
    </ion-card>

    <div class="botao3">
    <ion-button color="dark" expand="block">LIMPAR </ion-button>
  </div>

</ion-content>
