@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

.botao2{
ion-grid{
 ion-col{
  font-size: 130%;
}
ion-button{
font-size: 90%;
padding: 1%;
width: 50%;
margin: 5%;
height: 110%;
justify-content: center;
font-family: 'PT Serif', serif;
  }
}

ion-col{
  text-align: center;
  font-family: 'PT Serif', serif;
}
}

.botao1{

  margin: 5%;
  padding: 1%;
  height: 10%;

  ion-button{
  font-size: 90%;
  font-family: 'PT Serif', serif;
  }
}


ion-chip{
  display: flex;
  justify-content: center;
  font-size: large;
  font-family: 'PT Serif', serif;
}

.botao3{
  ion-button{
  width: 100%;
  font-family: 'PT Serif', serif;
}
}

.botaovalendo{
  ion-button{
    font-family: 'PT Serif', serif;
  }
}

ion-card-content{
  p{
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-size: large;
  }
}

.cor{
  color: #C71585;
}

ion-card{
  --background: url(https://i.pinimg.com/originals/d9/6f/05/d96f05de34cfe2aada6b1dc1a27a3a5c.png);
}

.back{
--background: url(https://i.pinimg.com/originals/d9/6f/05/d96f05de34cfe2aada6b1dc1a27a3a5c.png);
}
